{{ template "chart.homepageLine" . }}

{{ template "chart.badgesSection" . }}

{{ template "chart.deprecationWarning" . }}

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}

{{ template "chart.maintainersSection" . }}
